<settings>
    <servers>
        <server>
            <id>central</id>
            <username>${MAVEN_USERNAME}</username>
            <password>${MAVEN_PASSWD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>gpg</id>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>${GPG_PASSPHRASE}</gpg.passphrase>
                <gpg.useagent>true</gpg.useagent>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>gpg</activeProfile>
    </activeProfiles>

</settings>
